@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  /* Khai báo các màu sắc lấy từ Figma bằng công cụ hút màu */
  --bg-dark: #000000;
  --text-white: #ffffff;
  --text-dark: #000000;
  --bg-button-buy: #e8e8e8;
  --color-button-buy: #000000;
  --bg-button-price: #fdd768;
  --gradient-btn: linear-gradient(180deg, #f051d9 0%, #7b1bd3 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
